extends ../jade-block/forsubpage
include ../jade-block/mixin-use

block submeta
    title Class的规范
    meta(name="keywords", content="博客,xiaobxia,小b侠,语言，Class的规范")
    meta(name="description", content="xiaobxia的博客文章随笔，题目Class的规范。子标题有选择器的优先级，属性的书写顺序，属性的书写规范，Class命名参考。")

block headExtend
    //额外需要的head
        //使用代码插件时
        include ../jade-block/codehl-h
block jsExtend
    //额外需要的js
        //使用代码插件时
        include ../jade-block/codehl-b
block page-id
    //文章的page-id
    #page-id 2
block tittle
    //文章的title
    h4 Class的规范
block publishTime
    //文章的发表日期
    span 2016/9/7
block lastTime
    //文章的最后修改日期
    span 2016/9/7
block commentblock
    .ds-thread(data-thread-key="2" data-title="Class的规范" data-url="http://xiaobxia.win/language/class-1.html")

block content

    +subtitleuse("选择器的优先级")
    p 要解决以上问题，我们需要引入一个概念——特指度（specificity）。特指度表示一个css选择器表达式的重要程度，可以通过一个公式来计算出一个数值，数越大，越重要。这个计算叫做“I-C-E”计算公式，遇到一个id就往特指度数值中加100，遇到一个class就往特指度数值中加10，遇到一个element就往特指度数值中加1。还有一个重点要注意：
        em.strongword !important优先级最高，高于一切。* 选择器最低，低于一切。
    .for-table
        table(border="1")
            caption 特指度计算示例
            colgroup
                col(style="width: 50%;")
                col(style="width: 50%;")
            thead
                +tableuse("CSS选择器表达式","特指度计算结果")
            tbody
                +tableuse("p","1")
                +tableuse("p.large","11")
                +tableuse("P#large","101")
                +tableuse("div p#large","102")
                +tableuse("div p#large ul.list","113")
                +tableuse("div p#large ul.list li","114")


    +subtitleuse("属性的书写顺序")
    .for-table
        table(border="1")
            caption 书写顺序表
            colgroup
                col(style="width: 20%;")
                col(style="width: 80%;")
            thead
                +tableuse("书写顺序","举例")
            tbody
                +tableuse("1.位置属性","position, top, right, z-index, display, float等")
                +tableuse("2.大小","width, height, padding, margin")
                +tableuse("3.文字系列","font, line-height, letter-spacing, color- text-align等")
                +tableuse("4.背景","background, border等")
                +tableuse("5.其他","animation, transition等")


    +subtitleuse("属性的书写规范")
    dl
        +dtdduse("(一) 属性","1.使用CSS缩写属性，CSS有些属性是可以缩写的，比如padding,margin,font等等，这样精简代码同时又能提高用户的阅读体验。","2.去掉小数点前的“0”","3.16进制颜色代码缩写","4.避免不必要的重复,你可以进一步合并不同类里的重复的规则。")
        +dtdduse("(二) 选择器","1.长名称或词组可以使用中横线来为选择器命名。","2.不要随意使用id","3.为选择器添加状态前缀","4.避免不必要的命名空间")


    +subtitleuse("Class命名参考")
    .for-table
        table(border="1")
            caption Class参考表
            colgroup
                col(style="width: 20%;")
                col(style="width: 80%;")
            thead
                +tableuse("分类","举例")
            tbody
                +tableuse("(1)头部:header","标志:logo 导航:nav 主导航:mainnav 子导航:subnav 搜索:search 用户:user 登陆:login 注册:regsiter")
                +tableuse("(2)主体:main","内容:content 标题:title 文章列表:list 摘要:summary 菜单:menu 栏目:column 指南:guild 服务:service 热点:hot 新闻:news")
                +tableuse("(3)脚本footer","合作伙伴:partner 信息:info 友情链接:link 版权:copyright 加入:joinus 作者:author")
                +tableuse("(4)其他导航","标签页:tab 分页:pagination 顶导航:topnav 边导航:sidebar 左导航:leftsidebar 右导航:rightsidebar")
                +tableuse("(5)状态","block状态:is-block 当前的:current")
                +tableuse("(6)小标签","图标:icon 注释:note 提示信息:msg 按钮:btn 分隔:sep 框:frame 集合:collection 二维码:code")
                +tableuse("(7)功能","下载:download 投票:vote 滚动:scroll 广告:advertisement 索引:index 演示说明:demo 包裹:wrap")