extends ../jade-block/forsubpage
include ../jade-block/mixin-use

block headExtend
    //额外需要的head
block jsExtend
    //额外需要的js
block page-id
    //文章的page-id
    #page-id 1
block tittle
    //文章的title
    h4 Display属性的一些见解
block publishTime
    //文章的发表日期
    span 2016/8/30
block lastTime
    //文章的最后修改日期
    span 2016/8/30
block commentblock
    .ds-thread(data-thread-key="1" data-title="Display属性的一些见解" data-url="http://xiaobxia.win/language/display-1.html")

block content

    +subtitleuse("一般元素的dsiplay")
    .for-table
        table(border="1")
            caption 各标签的默认display
            colgroup
                col(style="width: 20%;")
                col(style="width: 80%;")
            thead
                +tableuse("display类型","标签")
            tbody
                +tableuse("display:block","<address><article><aside><blockquote><body><dd><details><div><dl><dt><fieldset><figcaption><figure><footer><form><h1><header><hgroup><hr><html><legend><menu>(所有浏览器都不支持)<menuitem>(只有firefox支持)<nav><ol><optgroup><option><p><section><summary><ul>")
                +tableuse("display:inline","<a><abbr><area><b><bdi><bdo><br><cite><code><del><dfn><em><i><ins><kbd><label><map><mark><output><pre><q><rp><rt><ruby><s><smap><small><span><strong><sub><sup><time><track>(所有浏览器都不支持)<u><var><wbr>")
                +tableuse("display:inline-block","<audio><button><canvas><embed><iframe><img><input><keygen><meter><object><progress><select><textarea><video>")
                +tableuse("display:none","<base><link><meta><title><datalist><dialog><param><script><source><style>")
                +tableuse("display:list-item","<li>")


    +subtitleuse("表格元素的display")
    dl
        +dtdduse("表格元素的display","table{display: table;}","thead{display: table-header-group;}","tbody{display: table-row-group;}","tfoot{display: table-footer-group;}","tr{display: table-row;}","td,th{display: table-cell;}","col{display: table-column;}","colgroup{display: table-column-group;}","caption{display: table-caption;}")

    p 表格类元素的display共有以上几种，&lt;thead&gt;&lt;tbody&gt;&lt;tfoot&gt;&lt;tr&gt;&lt;col&gt;&lt;colgroup&gt;因为无法设置margin和padding用的较少，下面将着重介绍下&lt;table&gt;、&lt;td&gt;、&lt;th&gt;、&lt;caption&gt;这四个标签对应的display属性。
    +subtitleuse("display属性各个值的表现")
    dl
        +dtdduse("display:block","[1] 不设置宽度时，宽度撑满一行","[2] 独占一行","[3] 支持宽高")
        +dtdduse("display:block","[1] 不设置宽度时，宽度撑满一行","[2] 独占一行","[3] 支持宽高")
        +dtdduse("display:inline","[1] 内容撑开宽度","[2] 非独占一行","[3] 不支持宽高","[4] 代码换行被解析成空格")
        +dtdduse("display:inline-block","[1] 不设置宽度时，内容撑开宽度","[2] 非独占一行","[3] 支持宽高","[4] 代码换行被解析成空格")

    dl
        +dtdduse("display:table","[1] 不设置宽度时，宽度由内容撑开","[2] 独占一行","[3] 支持宽高","[4] 默认具有表格特征，可设置table-layout、border-collapse、border-spacing等表格专有属性")
        +dtdduse("display:inline-table","[1] 不设置宽度时，宽度由内容撑开","[2] 非独占一行","[3] 支持宽高","[4] 默认具有表格特征，可设置table-layout、border-collapse、border-spacing等表格专有属性")
        +dtdduse("display:table-cell","[1] 不设置宽度时，宽度由内容撑开","[2] 非独占一行","[3] 支持宽高","[4] 垂直对齐","[5] 同级等高")
        +dtdduse("display:table-caption","[1] 不设置宽度时，宽度由内容撑开","[2] 独占一行","[3] 支持宽高")
    +subtitleuse("display属性各个值的实战技巧")
    dl
        +dtdduse("display:inline","[1] 因为a标签display:inline，所以如果用display:block来当子元素，就需要把a设置为display:block，然后设置width和height,不然a标签不能完全包裹子标签而且子标签的位置也会出现偏差。","[2] display:inline元素的padding使用em来做单位更好，使页面更具适应性。","[3] display:inline的元素可以通过设置line-height很容易得实现水平居中。")
