doctype html
html
    head
        include jade-block/meta-head
        title blog of xiaobxia
        meta(name="keywords", content="博客,xiaobxia,小b侠,github,pages,web,分享,前端,blog,html,css,javascript,jQuery,scss,库,预编译")
        meta(name="description", content="blog of xiaobxia 是个人博客，分享web学习的总结和生活的随想以及更多。")
        link(rel='shortcunt icon', href='images/icon.png')
        link(rel='stylesheet', type='text/css', href='stylesheets/main.css', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/header-footer.css', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/animate.css')

        link(rel='stylesheet', type='text/css', href='stylesheets/article-recently.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/pic.css')

        script(type='text/javascript', src='javascripts/jquery-1.12.3.min.js')
        script(type='text/javascript', src='javascripts/jquery.cookie.js')
        script(type='text/javascript', src='javascripts/main.js')
        include jade-block/analysis

    body
        .header
            .header-content
                .blog-inf
                    .blog-name
                        a(href='http://www.xiaobxia.win')
                            h3 小b侠的博客
                    .blog-update
                        span
                    .blog-pic
                        img(src='images/mypic.jpg')
                .header-sep
                .header-nav
                    .search-block
                        .search-inp-bar
                            input(type="text" placeholder="搜索博客" id="search-inp")
                            .search-button#search-btn
                                a(href='feature-page/search/search-result.html')
                                    img(src='images/searchpic.png')
                        .search-block-close#search-close
                            img(src='images/closepic.png')
                        .search-msg-block(class="animated slideInDown")
                            .search-warn
                                p
                            .search-hint
                            .search-msg
                                p 关于搜索的规则：目前搜索逻辑是去除搜索词条中重复的字，然后进行匹配，如果相关度超过一半，就显示文章。在未来，也会引入百度站内搜索。
                    ul#header-ul
                        // li中a的地址需要手动修改，添加../或是删除
                        li
                            a(href='classify/nav/language-nav.html') 语言
                        li
                            a(href='classify/nav/library-nav.html') 库
                        li
                            a(href='classify/nav/tool-nav.html') 工具
                        li
                            a(href='classify/nav/essay-nav.html') 随笔
                        li
                            a(href='classify/nav/aboutme-nav.html') 关于我
                        li
                            a(href='classify/nav/webApp-nav.html') webApp
                        li
                            a(id="header-search" href='javascript:;')
                                img(src='images/searchpic.png')
        script(type='text/javascript', src='javascripts/header-footer.js')
        .motto
            .motto-content
                .motto-pic
                    img(src='images/mottopic.jpg', alt='')
                .motto-master
                .motto-text
                    span web study
                    span and life
        include jade-block/article-recently
        //热评文章
        include jade-block/article-hot
        .footer
            .footer-pic
                .footer-pic-sub
                    a(href='feed.xml')
                        img(src='images/rsspic.png')
                .footer-pic-sub
                    a(href='http://weibo.com/p/1005055989486288')
                        img(src='images/weibopic.png')
                .footer-pic-sub
                    a(href='https://github.com/xiaobxia')
                        img(src='images/githubpic.png')
            .footer-wrap
                .footer-text
                    ul
                        li
                            span blog of xiaobxia 是个人博客
                        li
                            span 分享web学习的总结和生活的随想以及更多
