//
   Created by Administrator on 2016/8/24.

doctype html
html
    head
        include jade-block/time-head
    body
        include jade-block/header-main
        include jade-block/for-time
        include jade-block/footer-main