mixin subArticleNav
    .sub-article-nav
        // 日期，如果添加class="art-date new-month" 那就是高亮状态
        .art-date
            .art-date-m
                span
            .art-date-d
                span
        // 文章信息
        .art-introduction
            a
                h5
                span
                p
.recently-article
    .article-nav
        .recently-title
            div
                h4 最新文章
        .recently-sep
            .sep-base
            .sep-now
        .main-nav
            // 左右块
            .article-nav-content
                // 子块
                +subArticleNav
                +subArticleNav
                +subArticleNav
                +subArticleNav
            .article-nav-content
                +subArticleNav
                +subArticleNav
                +subArticleNav
                +subArticleNav
        .article-more
            .more-button
                a(href='feature-page/time/time-line.html') 了解更多
script(type='text/javascript', src='javascripts/article-recently.js')
