script(type="text/javascript").
    SyntaxHighlighter.autoloader(
            ['js', 'jscript', 'javascript', '../codehl/scripts/shBrushJScript.js'],
            ['bash', 'shell', '../codehl/scripts/shBrushBash.js'],
            ['css', '../codehl/scripts/shBrushCss.js'],
            ['xml', 'html', '../codehl/scripts/shBrushXml.js'],
            ['sql', '../codehl/scripts/shBrushSql.js'],
            ['php', '../codehl/scripts/shBrushPhp.js']
    );
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.all();