script(type='text/javascript', src='../../source/codehl/scripts/shCore.js')
link(rel='stylesheet', type='text/css', href='../../source/codehl/styles/shCore.css')
link(rel='stylesheet', type='text/css', href='../../source/codehl/styles/shCoreDefault.css')
script(type='text/javascript', src='../../source/codehl/scripts/shAutoloader.js')
