script(type="text/javascript").
    SyntaxHighlighter.autoloader(
            ['js', 'jscript', 'javascript', '../../source/codehl/scripts/shBrushJScript.js'],
            ['bash', 'shell', '../../source/codehl/scripts/shBrushBash.js'],
            ['css', '../../source/codehl/scripts/shBrushCss.js'],
            ['xml', 'html', '../../source/codehl/scripts/shBrushXml.js'],
            ['sql', '../../source/codehl/scripts/shBrushSql.js'],
            ['php', '../../source/codehl/scripts/shBrushPhp.js']
    );
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.all();