script(type='text/javascript', src='../codehl/scripts/shCore.js')
    link(rel='stylesheet', type='text/css', href='../codehl/styles/shCore.css')
    link(rel='stylesheet', type='text/css', href='../codehl/styles/shCoreDefault.css')
    script(type='text/javascript', src='../codehl/scripts/shAutoloader.js')
