extends ../jade-block/forsubpage
include ../jade-block/mixin-use

block headExtend
    //额外需要的head
        //使用代码插件时
        script(type='text/javascript', src='../codehl/scripts/shCore.js')
            link(rel='stylesheet', type='text/css', href='../codehl/styles/shCore.css')
            link(rel='stylesheet', type='text/css', href='../codehl/styles/shCoreRDark.css')
            script(type='text/javascript', src='../codehl/scripts/shAutoloader.js')
block jsExtend
    //额外需要的js
        //使用代码插件时
        script(type="text/javascript").
                SyntaxHighlighter.autoloader(
                        ['js', 'jscript', 'javascript', '../codehl/scripts/shBrushJScript.js'],
                        ['bash', 'shell', '../codehl/scripts/shBrushBash.js'],
                        ['css', '../codehl/scripts/shBrushCss.js'],
                        ['xml', 'html', '../codehl/scripts/shBrushXml.js'],
                        ['sql', '../codehl/scripts/shBrushSql.js'],
                        ['php', '../codehl/scripts/shBrushPhp.js']
                );
                SyntaxHighlighter.all();
block page-id
    //文章的page-id
    #page-id 0
block tittle
    //文章的title
    h4 follow me
block publishTime
    //文章的发表日期
    span 2016/8/20
block lastTime
    //文章的最后修改日期
    span 2016/8/20
block commentblock
    .ds-thread(data-thread-key="aid" data-title="atittle" data-url="ahtml")

block content
    //文章的内容
                1.专门的用于a标签的写法
                .for-a
                    span.for-emphasis
                    a(href="")

                2.段落的写法
                p

                3.强调部分的写法，加入class="for-emphasis"
                em.for-emphasis

                4.专门显示代码的写法，js可修改
                pre(class='brush:js;').
                    代码


                5.专门显示图片的写法，需在标签里声明宽和高
                .for-img-show
                    img(src='',style='')
                    .img-msg
                        p

                6.文章的子标题的写法
                +subtitleuse("")

                7.文章文字p中如果有需要强调的
                p 一
                    em.strongword 二
                    |三

                8.警告和特别提醒部分
                +warnuse(leixing,b)

                9.表格的使用
                .for-table
                    table(border="1")
                        caption 这里写表单的标题
                        colgroup
                            col(style="width: 20%;")
                            col(style="width: 80%;")
                        thead
                            +tableuse("","")
                        tbody
                            +tableuse("","")
                        tfoot
                            +tableuse("","")
                10.列表的使用
                    dl
                        +dtdduse("","")
