extends ../jade-block/forsubpage
include ../jade-block/mixin-use


block submeta
    title 回乡记(一)
    meta(name="keywords", content="博客,xiaobxia,小b侠,随笔，回乡记(一)")
    meta(name="description", content="xiaobxia的博客文章随笔，题目回乡记(一)。子标题有千佛山，水库和花。")

block headExtend
    //额外需要的head
        //使用代码插件时
        include ../../jade-block/codehl-h
block jsExtend
    //额外需要的js
        //使用代码插件时
        include ../../jade-block/codehl-b
block page-id
    //文章的page-id
    #page-id 3
block tittle
    //文章的title
    h1 回乡记(一)
block publishTime
    //文章的发表日期
    span 2016/9/09
block lastTime
    //文章的最后修改日期
    span 2016/9/09
block commentblock
    .ds-thread(data-thread-key="3" data-title="回乡记(一)" data-url="http://xiaobxia.win/essay/travel-1.html")

block content
    //文章的内容
                1.专门的用于a标签的写法
                .for-a
                    span.for-emphasis
                    a(href="")

                2.段落的写法
                p

                3.强调部分的写法，加入class="for-emphasis"
                em.for-emphasis

                4.专门显示代码的写法，js可修改
                pre(class='brush:js;').
                    代码


                5.专门显示图片的写法，需在标签里声明宽和高
                .for-img-show
                    img(src='',style='height: 224px; width: 137px;')
                    .img-msg
                        p

                6.文章的子标题的写法
                +subtitleuse("")

                7.文章文字p中如果有需要强调的
                p 一
                    em.strongword 二
                    |三

                8.警告和特别提醒部分
                +warnuse(leixing,b)

                9.表格的使用
                .for-table
                    table(border="1")
                        caption 这里写表单的标题
                        colgroup
                            col(style="width: 20%;")
                            col(style="width: 80%;")
                        thead
                            +tableuse("","")
                        tbody
                            +tableuse("","")
                        tfoot
                            +tableuse("","")
                10.列表的使用
                    dl
                        +dtdduse("","")
                11.小标题
                                span.strongword