//
   Created by Administrator on 2016/8/25.

.footer

    .footer-pic
        .footer-pic-sub
            a(href='feed.xml')
                img(src='images/rsspic.png')
        .footer-pic-sub
            a(href='http://weibo.com/p/1005055989486288')
                img(src='images/weibopic.png')
        .footer-pic-sub
            a(href='https://github.com/xiaobxia')
                img(src='images/githubpic.png')
    .footer-wrap
        .footer-text
            ul
                li
                    span blog of xiaobxia 是个人博客
                li
                    span 分享web学习的总结和生活的随想以及更多
