.article-page
    .article-write
        .left-side-nav
            .list-nav
                ul
            .left-side-nav-sep
        .article-content
            .article-content-body
            #no-more.no-more
                a(href='') 没有更多
script(type='text/javascript', src='../javascripts/for-time.js')
