//
   Created by Administrator on 2016/8/24.

doctype html
html
    head
        include ../jade-block/main-head
    body
        include ../jade-block/header-main
        include ../jade-block/article-recently
        include ../jade-block/footer