//
   Created by Administrator on 2016/8/24.
//
   Created by Administrator on 2016/8/24.
doctype html
html
    head
        include ../jade-block/meta-head
        block meta
        include ../jade-block/link
        link(rel='stylesheet', type='text/css', href='../../source/stylesheets/for-time-and-nav.css')
        include ../jade-block/analysis
        include ../jade-block/script
    body
        include ../jade-block/header
        .article-page
            block levelone
            .article-write
                .left-side-nav
                    .list-nav
                        ul
                            block lileveltwo
                    .left-side-nav-sep
                .article-content
                    .article-content-body
                    #no-more.no-more
                        a(href='') 没有更多
        script(type='text/javascript', src='../../source/javascripts/for-classify.js')
        include ../jade-block/footer
