//
   Created by Administrator on 2016/8/24.

doctype html
html
    head
        include ../jade-block/meta-head
        block submeta
        include ../jade-block/link
        link(rel='stylesheet', type='text/css', href='../stylesheets/article-write.css')
        block headExtend
        include ../jade-block/analysis
        include ../jade-block/script
    body
        include ../jade-block/header
        .article-page
            block page-id
            // 顶部导航块部分
            .article-tab
                .level-nav
                    a#levelOne.level-a
                    span.level-pic  >
                    a#levelTwo.level-a
                .jump-block
                    select.subtitle-sel#subtitle-sel
                    .jump-btn#jump-btn
                .article-tab-sep
            .article-write
                .left-side-nav
                    .list-nav
                        ul
                    .article-side-btn
                        #article-nav-btn-left.article-nav-btn
                            a(href='')  <
                        #article-nav-btn-right.article-nav-btn
                            a(href='')  >
                    .left-side-nav-sep
                .article-content
                    .article-content-title
                        block tittle
                    .article-content-editer
                        .writer
                            span 作者：
                            span xiaobxia
                        .write-date
                            span 发布日期：
                            block publishTime
                        .write-recently
                            span 最后编辑：
                            block lastTime
                    .article-content-body
                        block content

                    .article-share
                        p 对文章如有疑问，欢迎联系作者。
                        p 分享：
                        include ../jade-block/share

                    #no-more.no-more
                        a(href='') 没有更多
        script(type='text/javascript', src='../javascripts/article-write.js')
        block commentblock
        script var duoshuoQuery = {short_name: "xiaobxia"};(function () {var ds = document.createElement('script');ds.type = 'text/javascript';ds.async = true;ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';ds.charset = 'UTF-8';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);     })();

        include ../jade-block/footer
        block jsExtend



