//
   Created by Administrator on 2016/8/24.

doctype html
html
    head
        include ../jade-block/page-head
        block headExtend
    body
        include ../jade-block/header
        .article-page
            block page-id
            // 顶部导航块部分
            .article-tab
                .level-nav
                    a#levelOne.level-a
                    span.level-pic  >
                    a#levelTwo.level-a
                .article-tab-sep
            .article-write
                .left-side-nav
                    .list-nav
                        ul
                    .article-side-btn
                        #article-nav-btn-left.article-nav-btn
                            a(href='')  <
                        #article-nav-btn-right.article-nav-btn
                            a(href='')  >
                    .left-side-nav-sep
                .article-content
                    .article-content-title
                        block tittle
                    .article-content-editer
                        .writer
                            span 作者：
                            span xiaobxia
                        .write-date
                            span 发布日期：
                            block publishTime
                        .write-recently
                            span 最后编辑：
                            block lastTime
                    .article-content-body
                        block content
                    #no-more.no-more
                        a(href='') 没有更多
        script(type='text/javascript', src='../javascripts/article-write.js')
        include ../jade-block/footer
        block jsExtend


