//
   Created by Administrator on 2016/8/24.

.header
    .header-content
        .blog-inf
            .blog-name
                a(href='https://xiaobxia.github.io/blog/')
                    h3 小b侠的博客
            .blog-update
                span
            .blog-pic
                img(src='images/mypic.jpg')
        .header-sep
        .header-nav
            .search-block
                .search-inp-bar
                    input(type="text" placeholder="搜索博客" id="search-inp")
                    .search-button#search-btn
                        a(href='search-result.html')
                            img(src='images/searchpic.png')
                .search-block-close#search-close
                    img(src='images/closepic.png')
            ul#header-ul
                // li中a的地址需要手动修改，添加../或是删除
                li
                    a(href='classify/language-nav.html') 语言
                li
                    a(href='classify/library-nav.html') 库
                li
                    a(href='classify/tool-nav.html') 工具
                li
                    a(href='classify/editor-nav.html') 编辑器
                li
                    a(href='classify/essay-nav.html') 随笔
                li
                    a(href='classify/aboutme-nav.html') 关于我
                li
                    a(href='classify/webApp-nav.html') webApp
                li
                    a(id="header-search" href='javascript:;')
                        img(src='images/searchpic.png')
script(type='text/javascript', src='javascripts/header-footer.js')