//
   Created by Administrator on 2016/8/24.

.header

    .header-content
        .blog-inf
            .blog-name
                a(href='http://www.xiaobxia.win')
                    h3 小b侠的博客
            .blog-update
                span
            .blog-pic
                img(src='../../images/mypic.jpg')
        .header-sep
        .header-nav
            .search-block
                .search-inp-bar
                    input(type="text" placeholder="搜索博客" id="search-inp")
                    .search-button#search-btn
                        a(href='../../feature-page/searvh/search-result.html')
                            img(src='../../images/searchpic.png')
                .search-block-close#search-close
                    img(src='../../images/closepic.png')
                .search-msg-block(class="animated slideInDown")
                    .search-warn
                        p
                    .search-hint

                    .search-msg
                        p 关于搜索的规则：目前搜索逻辑是去除搜索词条中重复的字，然后进行匹配，如果相关度超过一半，就显示文章。在未来，也会引入百度站内搜索。
            ul#header-ul
                // li中a的地址需要手动修改，添加../或是删除
                li
                    a(href='../../classify/nav/language-nav.html') 语言
                li
                    a(href='../../classify/nav/library-nav.html') 库
                li
                    a(href='../../classify/nav/tool-nav.html') 工具
                li
                    a(href='../../classify/nav/essay-nav.html') 随笔
                li
                    a(href='../../classify/nav/aboutme-nav.html') 关于我
                li
                    a(href='../../classify/nav/webApp-nav.html') webApp
                li
                    a(id="header-search" href='javascript:;')
                        img(src='../../images/searchpic.png')
script(type='text/javascript', src='../../javascripts/header-footer.js')