include ../jade-block/meta-head
link(rel='shortcunt icon', href='../images/icon.png')
link(rel='stylesheet', type='text/css', href='../stylesheets/main.css', media='screen')
link(rel='stylesheet', type='text/css', href='../stylesheets/header-footer.css', media='screen')

script(type='text/javascript', src='../javascripts/jquery-1.12.3.min.js')
script(type='text/javascript', src='../javascripts/jquery.cookie.js')
script(type='text/javascript', src='../javascripts/main.js')
