link(rel='shortcunt icon', href='../images/icon.png')
link(rel='stylesheet', type='text/css', href='../stylesheets/main.css', media='screen')
link(rel='stylesheet', type='text/css', href='../stylesheets/header-footer.css', media='screen')

