extends ../../jade-block/fornavpage
block meta
    title 关于我
    meta(name="keywords", content="博客,xiaobxia,小b侠,关于我")
    meta(name="description", content="xiaobxia的博客的关于我分类。")

block levelone
    #level-one 关于我

block lileveltwo
    li
        span 社区地址
        em
