extends ../../jade-block/fornavpage
block meta
    title 语言
    meta(name="keywords", content="博客,xiaobxia,小b侠,语言")
    meta(name="description", content="xiaobxia的博客的语言分类。")
block levelone
    #level-one 语言

block lileveltwo
    li
        span Css
        em
    li
        span Html
        em
    li
        span Js
        em