extends ../../jade-block/fornavpage
block meta
    title 工具
    meta(name="keywords", content="博客,xiaobxia,小b侠,工具")
    meta(name="description", content="xiaobxia的博客的工具分类。")
block levelone
    #level-one 工具

block lileveltwo
    li
        span Pug
        em
    li
        span Scss
        em