extends ../jade-block/forsubpage
include ../jade-block/mixin-use


block submeta
    title 创建博客的想法
    meta(name="keywords", content="博客,xiaobxia,小b侠,关于我,创建博客的想法")
    meta(name="description", content="xiaobxia的博客文章随笔，题目创建博客的想法。子标题有千佛山，水库和花。")

block headExtend
    //额外需要的head
        //使用代码插件时
        include ../jade-block/codehl-h
block jsExtend
    //额外需要的js
        //使用代码插件时
        include ../jade-block/codehl-b
block page-id
    //文章的page-id
    #page-id 3
block tittle
    //文章的title
    h1 创建博客的想法
block publishTime
    //文章的发表日期
    span 2016/9/09
block lastTime
    //文章的最后修改日期
    span 2016/9/09
block commentblock
    .ds-thread(data-thread-key="3" data-title="创建博客的想法" data-url="http://xiaobxia.win/essay/travel.html")

block content
    //文章的内容
                1.专门的用于a标签的写法
                .for-a
                    span.for-emphasis
                    a(href="")

                2.段落的写法
                p

                3.强调部分的写法，加入class="for-emphasis"
                em.for-emphasis

                4.专门显示代码的写法，js可修改
                pre(class='brush:js;').
                    代码


                5.专门显示图片的写法，需在标签里声明宽和高
                .for-img-show
                    img(src='',style='height: 224px; width: 137px;')
                    .img-msg
                        p

                6.文章的子标题的写法
                +subtitleuse("")

                7.文章文字p中如果有需要强调的
                p 一
                    em.strongword 二
                    |三

                8.警告和特别提醒部分
                +warnuse(leixing,b)

                9.表格的使用
                .for-table
                    table(border="1")
                        caption 这里写表单的标题
                        colgroup
                            col(style="width: 20%;")
                            col(style="width: 80%;")
                        thead
                            +tableuse("","")
                        tbody
                            +tableuse("","")
                        tfoot
                            +tableuse("","")
                10.列表的使用
                    dl
                        +dtdduse("","")
                11.小标题
                                span.strongword
    p 创建这个博客一方面是为了整理笔记，在学习前端的过程中记录了很多的笔记，
    |但是一直都是零零散散的，所以希望把笔记整理成文章方便之后自己复习时更加
    |系统。
    p 在学习的过程中也阅读了很多的他们的博客，同时也发现很多博的博客中并没
    |有什么文章，特别是在学习把博客托管在github pages时，很多的博主在
    |创建博客后只发过个位数的文章。所以我创建我的博客给自己了一个规定，保证
    |一个星期起码发表一篇关于技术的博客。同时也会不定期更新其他的文章，集中
    |在随笔当中。
    p 特别的创建了webApp分类，其实里面的文章主要都是一些有趣的，在我学习
    |并注释以后就会发表，同时大家也可以下载它的源代码。
    p 由于博客是托管在github pages但是github pages又屏蔽了百度爬虫
    |所有网站收录会有问题，基本没有可能在百度搜索引擎中找到我的博客，那么在未来
    |我也许会购买个人的vps把博客放在上面。