extends ../jade-block/forsubpage
block page-id
    #page-id 0
block fabutime
    span 2016/8/20
block zuihoutime
    span 2016/8/20
block content
    .for-a
        span.for-emphasis github:
        a(href='https://github.com/xiaobxia') https://github.com/xiaobxia
    .for-img-show
        img(src='../article-img/github-headpic.jpg', alt='github头像', style='height: 224px; width: 137px;')
