doctype html
html
  head
    title xiaobxia home
    meta(charset='utf-8')
    meta(name='description' content='xiaobxia个人主页')
    meta(name='keywords' content='xiaobxia,小b侠,个人主页,简历,博客,github')
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' href='http://cdn.webfont.youziku.com/webfonts/nomal/107499/46758/5a90f16df629d911e00993cb.css')
    link(rel='stylesheet' href='/_css/main.css')
    include var/baidu
  body
    div.mask
      div.main-wrap
        h1.my-name xiaobxia
        ul.main-nav
          li.nav-item
            a(href='https://github.com/xiaobxia' target='_blank') Github
          li.nav-item
            a(href='http://resume.xiaobxia.com' target='_blank') Resume
          li.nav-item
            a(href='https://www.jianshu.com/users/6a9658fd4b19/timeline' target='_blank') Blog
    div.back
    div.main-footer
      p Powered By Xiaobxia
