doctype html
html
  include var/head
  body
    div.mask
      div.main-wrap
        h1.my-name xiaobxia
        ul.main-nav
          li.nav-item
            a(href='https://github.com/xiaobxia' target='_blank') Github
    div.back
    footer.main-footer
      p Powered By Xiaobxia
