@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .my-name {
    font-size: 120px;
    line-height: 160px;
  }

  .main-nav {
    margin: 80px 0 0 0;
    padding: 0;
    font-size: 24px;
  }
}
