extends ../../jade-block/forsubpage
include ../../jade-block/mixin-use


block submeta
    title 数据类型与检测
    meta(name="keywords", content="博客,xiaobxia,小b侠,语言,数据类型与检测")
    meta(name="description", content="xiaobxia的博客文章随笔，题目数据类型与检测。子标题有千佛山，水库和花。")

block headExtend
    //额外需要的head
        //使用代码插件时
        include ../jade-block/codehl-h
block jsExtend
    //额外需要的js
        //使用代码插件时
        include ../jade-block/codehl-b
block page-id
    //文章的page-id
    #page-id 3
block tittle
    //文章的title
    h1 数据类型与检测
block publishTime
    //文章的发表日期
    span 2016/9/09
block lastTime
    //文章的最后修改日期
    span 2016/9/09
block commentblock
    .ds-thread(data-thread-key="3" data-title="数据类型与检测" data-url="http://xiaobxia.win/essay/travel-1.html")

block content
    //文章的内容
                1.专门的用于a标签的写法
                .for-a
                    span.for-emphasis
                    a(href="")

                2.段落的写法
                p

                3.强调部分的写法，加入class="for-emphasis"
                em.for-emphasis

                4.专门显示代码的写法，js可修改
                pre(class='brush:js;').
                    代码


                5.专门显示图片的写法，需在标签里声明宽和高
                .for-img-show
                    img(src='',style='height: 224px; width: 137px;')
                    .img-msg
                        p

                6.文章的子标题的写法
                +subtitleuse("")

                7.文章文字p中如果有需要强调的
                p 一
                    em.strongword 二
                    |三

                8.警告和特别提醒部分
                +warnuse(leixing,b)

                9.表格的使用
                .for-table
                    table(border="1")
                        caption 这里写表单的标题
                        colgroup
                            col(style="width: 20%;")
                            col(style="width: 80%;")
                        thead
                            +tableuse("","")
                        tbody
                            +tableuse("","")
                        tfoot
                            +tableuse("","")
                10.列表的使用
                    dl
                        +dtdduse("","")
                11.小标题
                                span.strongword
    +subtitleuse("数据类型")
    p.
        1。string
        2。function
        3。object
        4。boolean
        5。undefined
        6。number
        array，date属于object

    +subtitleuse("typeof")
    p 1.typeof：可以用来确定一个变量的数据类型
    p typeof用以获取一个变量的类型，typeof一般只能返回如下几个结 果：number,boolean,string,function,object,undefined。我们可以使用typeof来获取一个变量是否存 在，如if(typeof a!="undefined"){}，而不要去使用if(a)因为如果a不存在（未声明）则会出错，对于Array,Null等特殊对象使用typeof 一律返回object，这正是typeof的局限性。
    +subtitleuse("instanceof")
    p 2.instanceof：可以用来确定一个引用类型值的是什么类型的对象
    p  如果我们希望获取一个对象是否是数组，或判断某个变量是否是某个对象的实例则要选择使用instanceof。instanceof用于 判断一个变量是否某个对象的实例，如var a=new Array();alert(a instanceof Array);会返回true，同时alert(a instanceof Object)也会返回true;这是因为Array是object的子类。再如：function test(){};var a=new test();alert(a instanceof test)会返回true。谈到instanceof我们要多插入一个问题，就是function的arguments，我们大家也许都认为arguments是一个Array，但如果使用instaceof去测试会发现arguments不是一个Array对象，尽管看起来很像。
    +subtitleuse("另外")
    p.
        测试 var a=new Array();if (a instanceof Object) alert('Y');else alert('N');
        得到'Y’

        但 if (window instanceof Object) alert('Y');else alert('N');

        得到'N'

        所以，这里的instanceof测试的object是指js语法中的object，不是指dom模型对象。

        使用typeof会有些区别
            alert(typeof(window) 会得到 object
