extends ../../jade-block/forsubpage
include ../../jade-block/mixin-use
block submeta
    title javascript的键盘操作
    meta(name="keywords", content="博客,xiaobxia,小b侠,语言,标签样式初始化")
    meta(name="description", content="xiaobxia的博客文章随笔，标签样式初始化。样式初始化,淘宝的样式初始化,github初始化。")

block headExtend
    include ../../jade-block/codehl-h

block jsExtend
    include ../../jade-block/codehl-b
block page-id
    #page-id 8
block tittle
    h1 标签样式初始化
block publishTime
    span 2016/10/17
block lastTime
    span 2016/10/17
block commentblock
    .ds-thread(data-thread-key="8" data-title="标签样式初始化" data-url="http://xiaobxia.win/language/Css/initialize-1.html")


block content

    +subtitleuse("知名站点的样式初始化")
    span.strongword 淘宝的样式初始化
    pre(class='brush: css;').
        body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl,
        dt, dd, ul, ol, li, pre, form, fieldset, legend,
        button, input, textarea, th, td {
            margin:0; padding:0;
        }
        body, button, input, select, textarea {
            font:12px/1.5tahoma, arial, \5b8b\4f53;
        }
        h1, h2, h3, h4, h5, h6{ font-size:100%; }
        address, cite, dfn, em, var { font-style:normal; }
        code, kbd, pre, samp {
            font-family:couriernew, courier, monospace;
        }
        small{ font-size:12px; }
        ul, ol { list-style:none; }
        a { text-decoration:none; }
        a:hover { text-decoration:underline; }
        sup { vertical-align:text-top; }
        sub{ vertical-align:text-bottom; }
        legend { color:#000; }
        fieldset, img { border:0; }
        button, input, select, textarea { font-size:100%; }
        table { border-collapse:collapse; border-spacing:0; }

    span.strongword github样式初始化
    pre(class='brush: css;').
        /**
         * 1. 把默认字体设置为无衬线字体。
         * 2. 防止当方向改变时iOS文本大小自适应，在没有禁用用户变焦的情况下。
         */
        html {
          font-family: sans-serif; /* 1 */
          -webkit-text-size-adjust: 100%; /* 2 */
          -ms-text-size-adjust: 100%; /* 2 */
        }
        /**
         * 移除默认的margin。
         */
        body {
          margin: 0;
        }
        /* HTML5 display 定义
           ========================================================================== */
        /**
         * 改正在IE 8/9中没有为任何HTML5的元素定义display的"block"。
         * 改正在IE 10/11和Firefox中没有为"details"和"summary"元素定义display的"block"
         * 改正在IE 11中没有为"main"元素定义display的"block"
         */
        article,aside,details,figcaption,figure,footer,header,
        hgroup,main,menu,nav,section,summary {
          display: block;
        }
        /**
         * 1. 改正在IE 8/9中没有为为元素定义display的"inline-block"
         * 2. 使Chrome, Firefox, and Opera中的"progress"元素的垂直对齐标准化。
         */
        audio,canvas,progress,video {
          display: inline-block; /* 1 */
          vertical-align: baseline; /* 2 */
        }
        /**
         * 防止现代浏览器在没有控制的情况下显示"audio"元素。
         * 移除在iOS 5的设备中多出来的height。
         */
        audio:not([controls]) {
          display: none;
          height: 0;
        }
        /**
         * 处理hidden样式不呈现，在IE 8/9/10中。
         * 隐藏"template"元素，在IE 8/9/11, Safari, and Firefox < 22中。
         */
        [hidden],template {
          display: none;
        }
        /* Links标签
           ========================================================================== */
        /**
         * 移除active links的灰色背景色，在IE 10中。
         */
        a {
          background-color: transparent;
        }
        /**
         * 提高在所有浏览器中当被focused和hovered的可读性。
         */
        a:active,a:hover {
          outline: 0;
        }
        /* 文本的语意元素(Text-level semantics)
           ========================================================================== */
        /**
         * 处理样式不呈现，在IE 8/9/10/11, Safari, and Chrome中。
         */
        abbr[title] {
          border-bottom: 1px dotted;
        }
        /**
         * 处理把样式设置成bolder，在Firefox 4+, Safari, and Chrome中。
         */
        b,strong {
          font-weight: bold;
        }
        /**
         * 处理样式不呈现，在Safari and Chrome中。
         */
        dfn {
          font-style: italic;
        }
        /**
         * 处理在"section"和"article"元素内"h1"元素的font-size和margin的多变，
         * 在Firefox 4+, Safari, and Chrome中。
         */
        h1 {
          margin: 0.67em 0;
          font-size: 2em;
        }
        /**
         * 处理在中样式不存在。
         */
        mark {
          color: #000;
          background: #ff0;
        }
        /**
         * 处理在所有浏览器中font size的不一致和多变。
         */
        small {
          font-size: 80%;
        }
        /**
         * 防止"sub"和"sup"影响line-height，在所有浏览器中。
         */
        sub,sup {
          position: relative;
          font-size: 75%;
          line-height: 0;
          vertical-align: baseline;
        }
        sup {
          top: -0.5em;
        }
        sub {
          bottom: -0.25em;
        }
        /* 嵌入内容
           ========================================================================== */
        /**
         * 移除border当嵌a元素中在IE 8/9/10下。
         */
        img {
          border: 0;
        }
        /**
         * 改正在IE 9/10/11中overflow属性不是"hidden"。
         */
        svg:not(:root) {
          overflow: hidden;
        }
        /* 群组元素(Grouping content)
           ========================================================================== */
        /**
         * 处理margin在IE 8/9 and Safari中不显示。
         */
        figure {
          margin: 1em 40px;
        }
        /**
         * 处理Firefox和其他浏览器之间的不同。
         */
        hr {
          height: 0;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
        }
        /**
         * 在所有浏览器中拥有overflow属性。
         */
        pre {
          overflow: auto;
        }
        /**
         * 处理奇数的"em"单位的font size的渲染，在所有浏览器中。
         */
        code,kbd,pre,samp {
          font-family: monospace, monospace;
          font-size: 1em;
        }
        /* 表单(Forms)
           ========================================================================== */
        /**
         * 1. 改正color不被继承。
         *    Known issue: affects color of disabled elements.
         * 2. 改正font内容不被继承。
         * 3. 处理margin设置的不同，在Firefox 4+, Safari, and Chrome中。
         */
        button,input,optgroup,select,textarea {
          margin: 0; /* 3 */
          font: inherit; /* 2 */
          color: inherit; /* 1 */
        }
        /**
         * 处理在IE 8/9/10/11中overflow被设置为hidden。
         */
        button {
          overflow: visible;
        }
        /**
         * 处理"button"和"select"元素对text-transform的继承的不一致。
         * 所有其他的form控制元素不继承text-transform的值。
         * 改正"button"元素的样式的继承，在Firefox, IE 8/9/10/11, and Opera中。
         * 改正"select"元素的样式的继承，在Firefox中。
         */
        button,select {
          text-transform: none;
        }
        /**

         * 1. 避免Android 4.0.*中WebKit内核破坏"audio"和"video"元素原本控制器的bug。
         * 2. 改正在iOS中无法对"input"元素加clickable。
        提高可用性和一致性
         * 3. Improve usability and consistency of cursor style between image-type
         *    `input` and others.
         */
        button,
        html input[type="button"], /* 1 */
        input[type="reset"],
        input[type="submit"] {
          -webkit-appearance: button; /* 2 */
          cursor: pointer; /* 3 */
        }
        /**
         * 重设disabled的元素的默认cursor。
         */
        button[disabled],html input[disabled] {
          cursor: default;
        }
        /**
         * 移除里面的内边距和边框，在Firefox 4+中。
         */
        button::-moz-focus-inner,input::-moz-focus-inner {
          padding: 0;
          border: 0;
        }
        /**
         * 处理Firefox 4+设置"input"的line-height使用"!important`"在UA stylesheet中。
         */
        input {
          line-height: normal;
        }
        /**
         * 你最好不要尝试去修改这些元素的样式。
         * Firefox在实现过程中不会准守box-sizing, padding, 或 width。
         *
         * 1. 处理在IE 8/9/10中box-sizing被设置为content-box。
         * 2. 移除在IE 8/9/10中超出的padding。
         */
        input[type="checkbox"],input[type="radio"] {
          box-sizing: border-box; /* 1 */
          padding: 0; /* 2 */
        }
        /**
         * 修理Chrome的增量和减量button的cursor样式。在"input"的"font-size"是确定值时，
         * 会造成减量按钮的cursor的样式从"default"变为"text"。
         */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          height: auto;
        }
        /**
         * 1. 处理在Safari and Chrome中appearance被设置为searchfield。
         * 2. 处理在Safari and Chrome中box-sizing被设置为border-box。
         *    (包含`-moz`，把它当做不会过时的技术)
         */
        input[type="search"] {
          -webkit-box-sizing: content-box; /* 2 */
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          -webkit-appearance: textfield; /* 1 */
        }
        /**

         * 移除OS X系统中Safari 和 Chrome的内padding和搜索取消按键。
         * Safari (but not Chrome) clips the cancel button when the search input has
         * padding (and `textfield` appearance).
         */
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
          -webkit-appearance: none;
        }
        /**
         * 定义始终如一的border, margin, 和 padding。
         */
        fieldset {
          padding: 0.35em 0.625em 0.75em;
          margin: 0 2px;
          border: 1px solid #c0c0c0;
        }
        /**
         * 1. 改正IE 8/9/10/11在中color属性不被继承。
         * 2. 移除padding，这样当人们归零字段(fieldsets)时不会大跌眼镜。
         */
        legend {
          padding: 0; /* 2 */
          border: 0; /* 1 */
        }
        /**
         * 移除在IE 8/9/10/11中默认的垂直滚动条。
         */
        textarea {
          overflow: auto;
        }
        /**
         * 不要继承"font-weight"(应用的规则)。
         * 注意：在Chrome and Safari on OS X中默认属性不能被安全地改变。
         */
        optgroup {
          font-weight: bold;
        }
        /* 表格元素
           ========================================================================== */
        /**
         * 移除表格中单元格之间的大多数的间距
         */
        table {
          border-spacing: 0;
          border-collapse: collapse;
        }
        td,th {
          padding: 0;
        }

    +subtitleuse("我的样式初始化")
    pre(class='brush: css;').
        body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
            margin: 0;
            padding: 0;
        }
        html {
            font-family: sans-serif;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        body, button, input, select, textarea {
          font: 12px/1.5tahoma, arial, \5b8b\4f53;
        }
        article,aside,details,figcaption,figure,footer,header,
        hgroup,main,menu,nav,section,summary {
            display: block;
        }
        audio,canvas,progress,video {
            display: inline-block;
            vertical-align: baseline;
        }
        audio:not([controls]) {
            display: none;
            height: 0;
        }
        [hidden],template {
            display: none;
        }
        a {
            background-color: transparent;
        }
        input, button, select, textarea {
          outline: 0;
        }
        h1, h2, h3, h4, h5, h6 {
          font-size: 100%;
        }
        address, caption, cite, code, dfn, em, i, th, var {
          font-style: normal;
          font-weight: normal;
        }
        code, kbd, pre, samp {
          font-family: couriernew, courier, monospace;
        }
        small {
          font-size: 12px;
        }
        ul, ol {
          list-style: none;
        }
        a {
          outline: 0;
          text-decoration: none;
          cursor: pointer;
        }
        sup {
          vertical-align: text-top;
        }
        sub {
          vertical-align: text-bottom;
        }
        legend {
          color: #000;
        }
        fieldset, img {
          border: 0;
        }
        button, input, select, textarea {
          font-size: 100%;
        }
        textarea {
            overflow: auto;
        }
        optgroup {
            font-weight: bold;
        }
        table {
          border-collapse: collapse;
          border-spacing: 0;
        }
        td,th {
          padding: 0;
        }

