extends ../../jade-block/forsubpage
include ../../jade-block/mixin-use


block submeta
    title javascript的键盘操作
    meta(name="keywords", content="博客,xiaobxia,小b侠,语言,javascript的键盘操作")
    meta(name="description", content="xiaobxia的博客文章随笔，javascript的键盘操作。子标题有千佛山，水库和花。")

block headExtend
    //额外需要的head
    include ../../jade-block/codehl-h
block jsExtend
    //额外需要的js
    include ../../jade-block/codehl-b
block page-id
    //文章的page-id
    #page-id 3
block tittle
    //文章的title
    h1 javascript的键盘操作
block publishTime
    //文章的发表日期
    span 2016/9/09
block lastTime
    //文章的最后修改日期
    span 2016/9/09
block commentblock
    .ds-thread(data-thread-key="3" data-title="javascript的键盘操作" data-url="http://xiaobxia.win/essay/travel.html")

block content
    //文章的内容
                1.专门的用于a标签的写法
                .for-a
                    span.for-emphasis
                    a(href="")

                2.段落的写法
                p

                3.强调部分的写法，加入class="for-emphasis"
                em.for-emphasis

                4.专门显示代码的写法，js可修改
                pre(class='brush:js;').
                    代码


                5.专门显示图片的写法，需在标签里声明宽和高
                .for-img-show
                    img(src='',style='')
                    .img-msg
                        p

                6.文章的子标题的写法
                +subtitleuse("")

                7.文章文字p中如果有需要强调的
                p 一
                    em.strongword 二
                    |三

                8.警告和特别提醒部分
                +warnuse(leixing,b)

                9.表格的使用
                .for-table
                    table(border="1")
                        caption 这里写表单的标题
                        colgroup
                            col(style="width: 20%;")
                            col(style="width: 80%;")
                        thead
                            +tableuse("","")
                        tbody
                            +tableuse("","")
                        tfoot
                            +tableuse("","")
                10.列表的使用
                    dl
                        +dtdduse("","")
                11.小标题
                span.strongword
    +subtitleuse("键值表")
    .for-img-show
        img(src='../article-img/keyboard-1-pic/1.jpg',style='height: 300px; width: 600px;')
    .for-img-show
        img(src='../article-img/keyboard-1-pic/2.jpg',style='height: 300px; width: 600px;')
    .for-img-show
        img(src='../article-img/keyboard-1-pic/3.jpg',style='height: 300px; width: 600px;')
    .for-img-show
        img(src='../article-img/keyboard-1-pic/4.jpg',style='height: 300px; width: 600px;')
    +subtitleuse("例子")
    pre(class='brush:js;').

        //在jQuery中
        $inp.bind('keydown', function (e) {
            var key = e.which;
            //如果是回车按下
            if (key == 13) {
                e.preventDefault();
                //要做的事情
            }
        });

        //在原生javascript中
        document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            //如果是按Esc
            if(e && e.keyCode==27){
                //要做的事情
            }
        };

        //---与ctrl键一起---

        //在jQuery中
        $inp.bind('keydown', function (e) {
            var key = e.which;
            //如果是回车按下
            if (e.ctrlKey && key == 13) {
                e.preventDefault();
                //要做的事情
            }
        });

        //在原生javascript中
        document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            //如果是按Esc
            if(e && e.ctrlKey && e.keyCode === 27){
                //要做的事情
            }
        };

