head
  title xiaobxia home
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  link(rel='shortcut icon' href='./favicon.ico')
  link(rel='stylesheet' href='http://cdn.webfont.youziku.com/webfonts/nomal/107499/46820/59ab7fe7f629d80660cb0a4e.css')
  link(rel='stylesheet' href='./css/main.css')
