extends ../jade-block/fornavpage
block meta
    title 随笔
    meta(name="keywords", content="博客,xiaobxia,小b侠,随笔")
    meta(name="description", content="xiaobxia的博客的随笔分类。")

block levelone
    #level-one 随笔

block lileveltwo
    li
        span 游记
        em
    li
        span 春雨惊春清谷天
        em
    li
        span 夏满芒夏暑相连
        em
    li
        span 秋处露秋寒霜降
        em
    li
        span 冬雪雪冬大小寒
        em