extends ../jade-block/fornavpage

block levelone
    #level-one 随笔

block lileveltwo
    li
        span 游记
        em
    li
        span 春雨惊春清谷天
        em
    li
        span 夏满芒夏暑相连
        em
    li
        span 秋处露秋寒霜降
        em
    li
        span 冬雪雪冬大小寒
        em