.recently-article {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: whitesmoke; }
  .recently-article .article-nav {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 800px;
    height: 100%; }

.article-nav .recently-title {
  position: relative;
  height: 65px;
  width: 100%;
  text-align: center; }
  .article-nav .recently-title div {
    position: relative;
    display: inline-block;
    top: 25px;
    height: 40px; }
  .article-nav .recently-title h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    color: #000; }
.article-nav .recently-sep {
  position: relative;
  height: 4px;
  width: 800px; }
  .article-nav .recently-sep .sep-base {
    position: absolute;
    width: 800px;
    height: 2px;
    background-color: #e3e3e3; }
  .article-nav .recently-sep .sep-now {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -1px;
    width: 100px;
    height: 4px;
    background-color: #6e6e6e; }
.article-nav .main-nav {
  position: relative;
  height: 276px;
  width: 100%; }
.article-nav .article-more {
  position: relative;
  height: 55px;
  width: 100%; }
  .article-nav .article-more .more-button {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 5px;
    width: 80px;
    height: 20px;
    background-color: #6e6e6e;
    text-align: center;
    border-radius: 4px; }
    .article-nav .article-more .more-button:hover {
      background-color: #e3e3e3; }
      .article-nav .article-more .more-button:hover a {
        color: #1978b4; }
    .article-nav .article-more .more-button a {
      display: block;
      color: #e3e3e3;
      line-height: 20px;
      font-size: 12px;
      font-weight: 300; }

.main-nav .article-nav-content {
  position: absolute;
  width: 50%;
  height: 100%; }
  .main-nav .article-nav-content:nth-of-type(1) {
    left: 0; }
  .main-nav .article-nav-content:nth-of-type(2) {
    left: 50%; }

.article-nav-content .sub-article-nav {
  position: relative;
  margin: 0 0 0 25px;
  padding: 15px 0 0 0;
  width: 350px;
  height: 50px; }

.sub-article-nav .art-date {
  position: absolute;
  left: 0;
  height: 50px;
  width: 30px; }
  .sub-article-nav .art-date .art-date-m {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #e3e3e3;
    text-align: center; }
    .sub-article-nav .art-date .art-date-m span {
      line-height: 25px;
      display: block;
      font-size: 12px;
      color: #6e6e6e; }
  .sub-article-nav .art-date .art-date-d {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #fff;
    text-align: center;
    vertical-align: middle; }
    .sub-article-nav .art-date .art-date-d span {
      display: block;
      line-height: 25px;
      font-size: 16px;
      color: #a0a0a0; }
.sub-article-nav .art-date.new-month .art-date-m {
  background-color: #1978b4; }
  .sub-article-nav .art-date.new-month .art-date-m span {
    color: #fff; }
.sub-article-nav .art-date.new-month .art-date-d span {
  color: #1978b4; }
.sub-article-nav .art-introduction {
  position: absolute;
  left: 40px;
  width: 315px;
  height: 50px; }
  .sub-article-nav .art-introduction a:hover h5, .sub-article-nav .art-introduction a:hover p {
    color: #1978b4; }
  .sub-article-nav .art-introduction h5 {
    color: #6e6e6e;
    font-size: 12px; }
  .sub-article-nav .art-introduction p {
    color: #a0a0a0;
    font-size: 12px; }

/*# sourceMappingURL=article.css.map */
