
@mixin filter-blur($value){
  -webkit-filter: blur($value);
  -ms-filter: blur($value);
  filter: blur($value);
}

@mixin grand-v($colorOne,$colorTwo) {

  background: -webkit-linear-gradient($colorOne, $colorTwo); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient($colorOne, $colorTwo); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient($colorOne, $colorTwo); /* Firefox 3.6 - 15 */
  background: linear-gradient($colorOne, $colorTwo); /*  */

}
@mixin grand-h($colorOne,$colorTwo) {

  background: -webkit-linear-gradient(left, $colorOne, $colorTwo); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, $colorOne, $colorTwo); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, $colorOne, $colorTwo); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, $colorOne, $colorTwo); /* */

}
@mixin relative-center {
  position: relative;
  margin: 0 auto;

}

@mixin absolute-center {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@mixin absolute-v-center {
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
}

@mixin relative-v-center {
  position: relative;
  margin: auto 0;

}
@mixin relative-hv-center{
  position: relative;
  margin: auto;
}
@mixin absolute-hv-center{
  position: absolute;
  margin: auto ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin after {
  &:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
  }
}
@mixin after-p {
  &:after{
    content: ' ';
    display: block;
    height: 1em;

  }
}
@mixin font-12 {
  font-size: 12px;
  font-weight: lighter;
}
@mixin font-12-n {
  font-size: 12px;
  font-weight: normal;
}
@mixin font-12-b {
  font-size: 12px;
  font-weight: bold;
}
@mixin font-14 {
  font-size: 14px;
  font-weight: normal;
}
@mixin font-16 {
  font-size: 16px;
  font-weight: normal;
}
@mixin font-16-l {
  font-size: 16px;
  font-weight: lighter;
}
@mixin font-16-b {
  font-size: 16px;
  font-weight: bold;
}
@mixin font-20 {
  font-size: 20px;
  font-weight: bolder;
}
@mixin color-sep{
  background-color: $grey-230;
}

$grey-50:rgb(50,50,50);
$grey-80:rgb(80,80,80);
$grey-110:rgb(110,110,110);
$grey-160:rgb(160,160,160);
$grey-200:rgb(200,200,200);
$grey-230:rgb(230,230,230);
$grey-236:rgb(236,236,236);
$grey-245:rgb(245,245,245);
$blue-25-120-180:rgb(25,120,180);
$blue-title:#325d72;

$page-width:960px;
$tab-height:60px;
$nav-list-item-height:20px;

.article-page{
  position: relative;
  width: 100%;
  height: auto;
  #page-id{
    display: none;
  }
  .article-tab{
    z-index: 1000;
    @include absolute-center;
    width: $page-width;
    height: $tab-height;
    background-color: rgba(255,255,255,.8);
    &.fix{
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
  .article-write{
    z-index: 10;
    @include relative-center;
    padding: $tab-height 0 0 0;
    width: $page-width;
    @include after;
  }
}

.article-write {
  .left-side-nav{
    position: relative;
    float: left;
    top:0;
    left: 0;
    width: 20%;
    height: 500px;
    .left-side-nav-sep{
      position: absolute;
      right: 0;
      height: 100%;
      width: 2px;
      @include color-sep;
    }

  }
  .article-content{
    float: left;
    position: relative;
    top: 0;
    width: 80%;

  }
}
.article-tab{
  .level-nav{
    @include absolute-v-center;
    left: 50px;
    height: 20px;
    line-height: 20px;
    .level-a{
      &:hover{
        text-shadow: 0 0 2px $blue-25-120-180;
      }
      padding: 0 5px;
      color: $blue-25-120-180;
      @include font-16;
      transition: text-shadow .5s ease-out;
    }
    .level-pic{
      padding: 0 5px;
      color: $grey-160;
      @include font-16;
    }
  }
  .jump-block{
    @include absolute-v-center;
    height: 30px;
    right: 50px;
    .subtitle-sel{
      float: left;
      display: block;
      border: 2px solid $grey-230;
      border-radius: .5em;
      height: 26px;
      width: 100px;
      @include font-12-n;
    }
    .jump-btn{
      float: left;
      display: block;
      cursor: pointer;
      margin-left: 20px;
      width: 30px;
      height: 30px;
      background-image: url("../images/jumppic.png");
      -webkit-background-size: 30px 30px;
      background-size: 30px 30px;
    }
  }
  .article-tab-sep{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    @include color-sep;
  }
}
.article-content{
  .article-content-title{
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    h4{
      line-height: 50px;
      @include font-20;
    }
  }
  .article-content-editer{
    position: relative;
    width: 100%;
    height: 40px;
    .writer, .write-date, .write-recently{
      position: absolute;
      width: 20%;
      height: 100%;
      text-align: center;
      span{
        @include font-12;
        line-height: 40px;
      }
    }
    .writer{
      left: 10%;
    }
    .write-date{
      left: 40%;
    }
    .write-recently{
      left: 70%;
    }
  }
  .article-content-body{
    @include relative-center;
    min-height: 310px;
    width: 90%;
    span, a, p, dt{
      @include font-16;
      line-height: 25px;
      color: $grey-80;
    }
    dl{
      margin-bottom: 20px;
    }
    dd{
      @include font-16-l;
      padding: 0 0 0 2em;
    }
    p{
      text-indent: 2em;
      @include after-p;
    }
    a{
      padding: 0 .5em;
      &:hover{
        color: $blue-25-120-180;
      }
    }
    .for-a, .for-warn{
      margin: 0 0 10px 0;
      padding: 10px 5%;
      width: 90%;
      border-radius: 10px;
      background-color: $grey-245;
    }
    .for-emphasis{
      padding: 0 .5em;
      color: #fff;
      border-radius: 6px;
      background-color: $blue-25-120-180;
    }
    .strongword{
      padding: 0 .5em;
      @include font-20;
      color: $grey-80;
    }
    .for-warn{
      span{
        color: #d5000d;
      }
    }
    .for-subtitle{
      position: relative;
      margin: 10px 0;
      h4{
        color: $blue-title;
        line-height: 50px;
        @include font-20;
      }
      .subtitle-sep{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        @include color-sep;
      }
    }
    .for-img-show{
      position: relative;
      margin: 0 0 10px 0;
      padding: 20px 5%;
      width: 90%;
      text-align: center;
      border-radius: 10px;
      background-color: $grey-245;
      .img-msg{
        margin: 20px 0 0 0;
        p{
          @include font-12-b;
          @include after-p;
        }
      }
      img{
        display: inline-block;
        margin: 0 20px;
      }
    }
    .for-table{
      position: relative;
      width: 90%;
      padding: 20px 5%;
      margin: 0 0 10px 0;
      table{
        border: 1px solid $grey-200;
        width: 100%;
        tr{
          td{
            padding: 0 1em;
            color: $grey-80;
            p{
              @include font-12-n;
              @include after;
              text-indent: 0;
            }
          }
        }
        caption{
          @include font-16;
          color: $grey-80;
        }
        colgroup{
          col{
            &:nth-child(odd){
              background-color: $grey-245;
            }
            &:nth-child(even){
              background-color: #fff;
            }
          }
        }
        thead{
          background-color: $grey-110;
          td {
            padding: 0 1em;
            p {
              @include font-16;
              color: #fff;
              @include after;
              text-indent: 0;
            }
          }
        }
        tbody{

        }
        tfoot{

        }
      }
    }
  }
  .no-more{
    @include relative-center;
    margin: 40px auto;
    width: 80px;
    height: 20px;
    text-align: center;
    background-color: $grey-110;
    border-radius: 4px;
    &:hover{
      background-color: $grey-230;
      a{
        color: $blue-25-120-180;
      }
    }
    a{
      display: block;
      line-height: 20px;
      color: $grey-230;
      @include font-12;
    }
  }
}
.left-side-nav{
  .list-nav{
    position: absolute;
    width: 100%;
    height: 480px;
    overflow: hidden;
  }
  .article-side-btn{
    position: absolute;
    top:480px;
    width: 100%;
    height: $nav-list-item-height;
    .article-nav-btn{
      position: absolute;
      width: $nav-list-item-height;
      height: 100%;
      text-align: center;
      background-color: $grey-230;
      border-radius: 4px;
      &:nth-of-type(1){
        left: 0;
      }
      &:nth-of-type(2){
        right: 0;
      }
      &:hover{
        box-shadow: 0 0 6px $blue-25-120-180;
      }
      a{
        display: block;
        color: $blue-25-120-180;
        line-height: $nav-list-item-height;
        @include font-12;
      }
    }
  }
}
.list-nav{
  ul{
    display: none;
    &.active{
      display: block;
    }
  }
  li{
    margin-bottom: 4px;
    padding: 0 10%;
    height: $nav-list-item-height;
    width: 80%;
    line-height: $nav-list-item-height;
    border-radius: 5px;
    transition: all .5s ease-out;
    overflow: hidden;
    span{
      @include font-14;
      color: $blue-25-120-180;
    }
    a{
      @include font-14;
      color: $grey-110;
    }
    &.active, &:hover{
      padding: 0 20%;
      width: 60%;
      background-color: $blue-25-120-180;
      a, span{
        color: #fff;
      }
    }
  }
}