@mixin filter-blur($value) {
  -webkit-filter: blur($value);
  -ms-filter: blur($value);
  filter: blur($value);
}

@mixin grand-v($colorOne,$colorTwo) {

  background: -webkit-linear-gradient($colorOne, $colorTwo); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient($colorOne, $colorTwo); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient($colorOne, $colorTwo); /* Firefox 3.6 - 15 */
  background: linear-gradient($colorOne, $colorTwo); /*  */

}

@mixin grand-h($colorOne,$colorTwo) {

  background: -webkit-linear-gradient(left, $colorOne, $colorTwo); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, $colorOne, $colorTwo); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, $colorOne, $colorTwo); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, $colorOne, $colorTwo); /* */

}

@mixin relative-center {
  position: relative;
  margin: 0 auto;

}

@mixin absolute-center {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@mixin absolute-v-center {
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
}

@mixin relative-v-center {
  position: relative;
  margin: auto 0;

}

@mixin relative-hv-center {
  position: relative;
  margin: auto;
}

@mixin absolute-hv-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin after {
  &:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
  }
}
@mixin font-12 {
  font-size: 12px;
  font-weight: lighter;
}
@mixin font-12-b {
  font-size: 12px;
  font-weight: bold;
}
@mixin font-16 {
  font-size: 16px;
  font-weight: normal;
}
@mixin font-16-b {
  font-size: 16px;
  font-weight: bold;
}
@mixin font-20 {
  font-size: 20px;
  font-weight: bolder;
}
$grey-50:rgb(50,50,50);
$grey-80:rgb(80,80,80);
$grey-110:rgb(110,110,110);
$grey-160:rgb(160,160,160);
$grey-200:rgb(200,200,200);
$grey-230:rgb(230,230,230);
$grey-236:rgb(236,236,236);
$grey-245:rgb(245,245,245);
$blue-25-120-180:rgb(25,120,180);