
@mixin relative-center {
  position: relative;
  margin: 0 auto;

}

@mixin absolute-center {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@mixin absolute-v-center {
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
}

@mixin relative-v-center {
  position: relative;
  margin: auto 0;

}
@mixin relative-hv-center{
  position: relative;
  margin: auto;
}
@mixin absolute-hv-center{
  position: absolute;
  margin: auto ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.scroll{
  position: relative;
  width: 100%;
  height: 400px;
  .display-frame{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 380px;
    overflow: hidden;
  }
  .slide-button{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 380px;

  }
  .pic-index{
    position: absolute;
    top: 380px;
    width: 100%;
    height: 20px;
    text-align: center;
    ul{
      height: 100%;
    }
    li{
      display: inline;
      padding: 0 20px;
      span{
       display: inline-block;
        background-color: rgb(110,110,110);
        width: 6px;
        height: 6px;
        border: 2px solid rgb(110,110,110);
        border-radius: 6px;
        &:hover{
          background-color: #fff;
          height: 8px;
          width: 8px;
          border: 2px solid rgb(35,123,171);
        }

      }
    }
    .active{
      span{
        background-color: #fff;
        height: 8px;
        width: 8px;
        border: 2px solid rgb(35,123,171);
      }

    }
  }
}
.display-frame{
  .pic-collection{
    height: 100%;
    width: 400%;
    position: absolute;
    left: 0;
    transition: left 1.5s ease-out;
    ul{
      &:after{
        content: "";
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        font-size: 0;

      }
      width: 100%;
      height: 100%;
    }
    li{
      float: left;
      width: 25%;
      height: 100%;
    }
    .scroll-pic{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.slide-button{
  .left-slide-button{
    left: 0;

  }
  .right-slide-button{
    right: 0;


  }
  .left-slide-button, .right-slide-button{
    @include absolute-v-center;
    height: 100%;
    width: 100px;
    transition: background-color 1s ease;
    &:hover{
      img{
        display: block;
      }
      background-color: rgba(0,0,0,0.2);
    }
    img{
      display: none;
      @include absolute-hv-center;
      height: 50px;
      width: 20px;
    }
  }
}