$blue-one:rgb(25,120,180);
$grey-one:rgb(245,245,245);
@mixin relative-center {
  position: relative;
  margin: 0 auto;

}

@mixin absolute-center {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@mixin absolute-v-center {
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
}

@mixin relative-v-center {
  position: relative;
  margin: auto 0;

}
@mixin relative-hv-center{
  position: relative;
  margin: auto;
}
@mixin absolute-hv-center{
  position: absolute;
  margin: auto ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.scroll {
  position: relative;
  width: 100%;
  height: 400px;
  .display-frame {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 380px;
    overflow: hidden;
  }
  .slide-button {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 380px;

  }
  .pic-index {
    position: absolute;
    top: 380px;
    width: 100%;
    height: 20px;
    text-align: center;
    ul {
      height: 100%;
    }
    li {
      display: inline;
      padding: 0 20px;
      span {
        display: inline-block;
        background-color: rgb(110, 110, 110);
        width: 6px;
        height: 6px;
        border: 2px solid rgb(110, 110, 110);
        border-radius: 6px;
        &:hover {
          background-color: #fff;
          height: 8px;
          width: 8px;
          border: 2px solid rgb(35, 123, 171);
        }

      }
    }
    .active {
      span {
        background-color: #fff;
        height: 8px;
        width: 8px;
        border: 2px solid rgb(35, 123, 171);
      }

    }
  }
}

.display-frame {

  .scroll-pic {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    transition: left 1s ease;
    img {
      width: 100%;
      height: 100%;
    }
    &.active, &.prev, &.next{
      display: block;
    }
    &.next, &.prev{
      position: absolute;
    }
    &.active{
      left: 0;
    }
    &.next{
      left: 100%;
    }
    &.prev{
      left: -100%;
    }
    &.active.left{
      left: -100%;
    }
    &.next.left, &.prev.right{
      top: 0;
      left: 0;
    }
    &.active.right{
      left: 100%;
    }

  }
}

.slide-button {
  .left-slide-button {
    left: 0;

  }
  .right-slide-button {
    right: 0;

  }
  .left-slide-button, .right-slide-button {
    @include absolute-v-center;
    height: 100%;
    width: 100px;
    transition: background-color 1s ease;
    &:hover {
      img {
        display: block;
      }
      background-color: rgba(0, 0, 0, 0.2);
    }
    img {
      display: none;
      @include absolute-hv-center;
      height: 50px;
      width: 20px;
    }
  }
}
.motto{
  position: relative;
  width: 100%;
  height: 300px;
  .motto-content{
    @include relative-center;
    width: 800px;
    height: 300px;
    .motto-pic{
      position: absolute;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .motto-master{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.2);
    }
    .motto-text{
      position: absolute;
      top: 100px;
      height: 40px;
      width: 100%;
      text-align: center;
      span{
        position: absolute;
        width: 150px;
        font-size: 20px;
        font-weight: 800;
        color: #fff;
        &:nth-of-type(1){
          left: 265px;
        }
        &:nth-of-type(2){
          left: 370px;
        }
      }

    }
  }
}