doctype html
html
    head
        include ../jade-block/head-css-js
        link(rel='stylesheet', type='text/css', href='../stylesheets/search-result.css')
    body
        include ../jade-block/header
        .search-page
            .search-page-msg
                h4 关于
                    span
                    |的结果
            .search-page-content
                .no-result#no-result
                    .no-result-img
                        img(src='../images/crypic.png')
                    .no-result-msg
                        p 没有搜索结果...
                        p 1.请更改关键字，再次尝试。
                        P 2.如无相关内容，可联系我增加相关内容。
            #no-more.no-more
                a(href='') 没有更多
        script(type='text/javascript', src='../javascripts/for-search.js')
        include ../jade-block/footer