doctype html
html
    head
        include ../jade-block/head-css-js
        link(rel='stylesheet', type='text/css', href='../stylesheets/for-time-and-nav.css')
    body
        include ../jade-block/header
        include ../jade-block/for-time
        include ../jade-block/footer