extends ../../jade-block/forsubpage
include ../../jade-block/mixin-use


block submeta
    title 转义html
    meta(name="keywords", content="博客,xiaobxia,小b侠,webApp,转义html")
    meta(name="description", content="xiaobxia的博客文章随笔，题目转义html。转义和反转义html。")

block headExtend
    //额外需要的head
        //使用代码插件时
        include ../jade-block/codehl-h
    style.
        .textarea-block{
            position: relative;
            display: block;
            padding: 1em;
            margin: 10px 0;
            height: 200px;
            width: 90%;
            font-weight: bold;
            border: 2px solid #6e6e6e;

        }

        .trabtn {
            display: inline-block;
            padding: .5em 1em;
            border-radius: .5em;
            background-color: #6e6e6e;
            color: #e6e6e6;
        }

        .trabtn:hover {
            background-color: #e6e6e6;
            color: #1978b4;
        }

block jsExtend
    script(type="text/javascript").
        var transBtno = $("transBtn");
        var transBtnb = $("transBtn2");
        addEvent(transBtnb, "click", function () {
            var textone = $("input-block").value;
            $("output-block").innerHTML = escape2Html(textone);
        });
        addEvent(transBtno, "click", function () {
            var textone = $("input-block").value;
            $("output-block").innerHTML = htmlEscape(textone);
        });
        function htmlEscape(text) {
            return text.replace(/[<>"&]/g, function (match, pos, originalText) {
                switch (match) {
                    case "<":
                        return "&amp;lt;";
                    case ">":
                        return "&amp;gt;";
                    case "&":
                        return "&amp;amp;";
                    case "\"":
                        return "&amp;quot;";
                }
            });
        }

        function escape2Html(str) {
            var arrEntities = {'lt': '<', 'gt': '>', 'nbsp': ' ', 'amp': '&', 'quot': '"'};
            return str.replace(/&(lt|gt|nbsp|amp|quot);/ig, function (all, t) {
                return arrEntities[t];
            });
        }

    //额外需要的js
        //使用代码插件时
        include ../jade-block/codehl-b
block page-id
    //文章的page-id
    #page-id 5
block tittle
    //文章的title
    h1 转义html
block publishTime
    //文章的发表日期
    span 2016/9/17
block lastTime
    //文章的最后修改日期
    span 2016/9/17
block commentblock
    .ds-thread(data-thread-key="5" data-title="转义html" data-url="http://xiaobxia.win/webapp/webTool/escape-1.html")

block content
    //文章的内容
                1.专门的用于a标签的写法
                .for-a
                    span.for-emphasis
                    a(href="")

                2.段落的写法
                p

                3.强调部分的写法，加入class="for-emphasis"
                em.for-emphasis

                4.专门显示代码的写法，js可修改
                pre(class='brush:js;').
                    代码


                5.专门显示图片的写法，需在标签里声明宽和高
                .for-img-show
                    img(src='',style='height: 224px; width: 137px;')
                    .img-msg
                        p

                6.文章的子标题的写法
                +subtitleuse("")

                7.文章文字p中如果有需要强调的
                p 一
                    em.strongword 二
                    |三

                8.警告和特别提醒部分
                +warnuse(leixing,b)

                9.表格的使用
                .for-table
                    table(border="1")
                        caption 这里写表单的标题
                        colgroup
                            col(style="width: 20%;")
                            col(style="width: 80%;")
                        thead
                            +tableuse("","")
                        tbody
                            +tableuse("","")
                        tfoot
                            +tableuse("","")
                10.列表的使用
                    dl
                        +dtdduse("","")
                11.小标题
                                span.strongword
    textarea(id="input-block" class="textarea-block")
    input(type="button" id="transBtn" value="html转义" class="trabtn")
    input(type="button" id="transBtn2" value="html反转义" class="trabtn")
    textarea(id="output-block" class="textarea-block")



