doctype html
html
    head
        include ../../jade-block/meta-head
        block meta
            title 最近文章
            meta(name="keywords", content="博客,xiaobxia,小b侠,最近文章")
            meta(name="description", content="xiaobxia的博客的最近文章分类。")
        include ../../jade-block/link
        link(rel='stylesheet', type='text/css', href='../../stylesheets/for-time-and-nav.css')
        include ../../jade-block/analysis
        include ../../jade-block/script
    body
        include ../../jade-block/header
        include ../../jade-block/for-time
        include ../../jade-block/footer